@use '../../styles/global.scss' as *;
@use '../../styles/partials/colors' as *;

.species {
    background: url('../../assets/images/background.jpg');
    padding: .5rem;
    padding-top: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &__container {
        border: 3px solid $primary-highlight;
        box-shadow: 0 0 5px $secondary-highlight;
        border-top: none;
        border-radius: 4px;
        padding: 1rem;
        background-color: $primary-background;
    }

    &__title {
        border-radius: 4px;
        border: 1px solid $primary-highlight;
        padding: 0 1rem;
        margin-bottom: 1rem;
    }

    &__category {
        color: $primary-text;
        font-size: 1.75rem;
        letter-spacing: .4rem;
        font-weight: 600;
    }

    &__list {

    }

    &__animal {
        border-radius: 4px;
        border: 1px solid $button-highlight;
        margin-bottom: 1rem;
        padding: 1rem;

        &:hover {
            color: $secondary-highlight;
            box-shadow: 0 0 5px $secondary-highlight;
            text-shadow: 0 0 5px $secondary-highlight;
        }

        &-link {
            text-decoration: inherit;
        }

        &__image {
            width: 100%;
            border-radius: 4px;
            height: 15rem;
            box-shadow: 0 0 5px $secondary-highlight;
        }

        &__info {

        }

        &__name {
            color: $button-highlight;
            font-size: 1rem;
            margin: .5rem 0;
            margin-top: 1rem;
            letter-spacing: .3rem;
        }

        &__scientific-name {
            color: $button-highlight;
            font-size: .88rem;
            letter-spacing: .2rem;
            margin-bottom: 0;
        }
    }
}