@use '../../styles/global.scss' as *;
@use '../../styles/partials/colors' as *;

.header {
    background: url('../../assets/images/background.jpg');
    padding: .5rem;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &__contents {
        border: 3px solid $primary-highlight;
        box-shadow: 0 0 5px $secondary-highlight;
        border-bottom: none;
        border-radius: 4px;
        padding: 1rem;
        background-color: $primary-background;
    }

    &__logo {

        &-link {

        }
    
        &-image {
            width: 100%;
            border-radius: 4px;
            box-shadow: 0 0 5px $secondary-highlight;
        }
    }

    &__nav {
        margin-top: 1rem;
        width: 100%;
        display: flex;
        justify-content: space-between;

        &-link {
            width: 45%;
        }
    }

    &__about {
        height: 2rem;
        width: 100%;
        border-radius: 4px;
        border: 1px solid $button-highlight;
        background-color: $primary-background;
        color: $button-highlight;
        letter-spacing: .2rem;
        font-weight: 500;
        cursor: pointer;

        &:hover {
            color: $secondary-highlight;
            box-shadow: 0 0 5px $secondary-highlight;
            text-shadow: 0 0 5px $secondary-highlight;
        }
    }

    &__explore {
        height: 2rem;
        width: 100%;
        border-radius: 4px;
        border: 1px solid $button-highlight;
        background-color: $primary-background;
        color: $button-highlight;
        letter-spacing: .2rem;
        font-weight: 500;
        cursor: pointer;

        &:hover {
            color: $secondary-highlight;
            box-shadow: 0 0 5px $secondary-highlight;
            text-shadow: 0 0 5px $secondary-highlight;
        }
    }
}